body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 2% auto 3% auto;
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 3.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Merriweather', serif;
  color: black;
}

.white-text-bold {
  color: white;
  font-family: 'Arial';
  font-weight: bold;
}

.sacramento-text {
  font-family: 'Sacramento', cursive;
}

#work-section, #profile-section, #education-section, #resume-section{
  margin: 5% auto 5% auto;
}

#top-section, #skill-section, #project-section, #section-div {
  background-color: #0f3a5d;
  margin-bottom: 5%;
  color: white;
}

#contact-section {
  padding-top: 3%;
  background-color: #0f3a5d;
  color: white;
}

#work-section, #profile-section, #education-section, #resume-section > h1,h2,h3 {
  color: #0f3a5d;
}

.main-color {
  color: #0f3a5d;
}

#top-section, #skill-section, #project-section > h1,h2,h3 {
  color: white;
}

#education-section, .section-div {
  padding: 2%;
}

.navbar {
  padding: 0 0 4.5rem;
  margin-right: 2rem;
}

.download-button,.send-email-button {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.send-email-button {
  background: white;
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: -webkit-gradient(to bottom, white, white);
  color: #0f3a5d;
}

.download-button {
  background: #0f3a5d;
  background-image: -webkit-linear-gradient(top, #0f3a5d, #0f3a5d);
  background-image: -moz-linear-gradient(top, #0f3a5d, #0f3a5d);
  background-image: -ms-linear-gradient(top, #0f3a5d, #0f3a5d);
  background-image: -o-linear-gradient(top, #0f3a5d, #0f3a5d);
  background-image: -webkit-gradient(to bottom, #0f3a5d, #0f3a5d);
  color: #FFFFFF;
}

.send-email-button:hover, .download-button:hover {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.send-email-button:hover {
  background: #1f78c0;
  color: white;
}

.download-button:hover {
  background: #1f78c0;
  color: white;
  border: solid #1f78c0 1px;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: lighter;
  color: white;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10%;
}

.nav-item {
  padding: 0 18px;
}

.top-container {
  position: relative;
  padding-bottom: 6%;
}

.bottom-container-contact {
  margin-top: 3%;
  background-color: #0f3a5d;
  padding: 25px;
}

.profile-image {
  width: 40%;
  height: 35%;
  margin: 5% auto 5% auto;
}

.computer-image {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.logo-image {
  border-radius: 50%;
  width: 15%;
  float: right;
  margin-left: 30px;
}

.content-row {
  width: 70%;
  margin: 7% auto 7% auto;
  text-align: left;
  line-height: 2;
}

.BUTTON_OKG {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #0f3a5d, #0f3a5d);
   background-image: -moz-linear-gradient(top, #0f3a5d, #0f3a5d);
   background-image: -ms-linear-gradient(top, #0f3a5d, #0f3a5d);
   background-image: -o-linear-gradient(top, #0f3a5d, #0f3a5d);
   background-image: -webkit-gradient(to bottom, #0f3a5d, #0f3a5d);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 15px;
   margin-bottom: 40px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.copyright-text {
  color: white;
  margin-top: 2%;
}

.project-link, .footer-link {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-link {
  margin-left: 5%;
  margin-right: 5%;
}

.dotted-hr {
  width: 70%;
  margin: 40px auto 40px auto;
  border-top: 1px dotted grey;
}

.profile {
  width: 50%;
  margin: 4% auto 0 auto;
  text-align: center;
  line-height: 2;
}

.work-div {
  padding: 5%;
}


form { max-width:60%; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Arial;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:0.5px solid white;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:0.5px solid white; }

textarea {
  height: 250px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background:white;
  cursor:pointer;
  color:#0f3a5d;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  border: 0;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#207cc7; color:white;}
